Repository modern-agile-team/dongurami-server, pull requests merged in 2021-09, with the labels that each got.

#31 [review]동아리 후기 API 구현
  app/.eslintrc.json
  app/app.js
  app/package-lock.json
  app/package.json
  app/src/apis/review/index.js
  app/src/apis/review/review.ctrl.js
  app/src/config/mariadb.js
  app/src/models/services/Auth/Auth.js
  app/src/models/services/Auth/AuthStorage.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Review/ReviewStorage.js
Labels: 서버, 기능 구현, API

#32 [Review] 동아리 후기 API 구현
  app/.eslintrc.json
  app/app.js
  app/package-lock.json
  app/package.json
  app/src/apis/review/index.js
  app/src/apis/review/review.ctrl.js
  app/src/config/mariadb.js
  app/src/models/services/Auth/Auth.js
  app/src/models/services/Auth/AuthStorage.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Review/ReviewStorage.js
Labels: 서버, 기능 구현, API

#33 [Review] 동아리 후기 API 구현
  app/app.js
  app/src/apis/review/index.js
  app/src/models/services/Review/ReviewStorage.js
Labels: 서버, 기능 구현, API

#34 [Review] 후기 API 구현
  app/app.js
  app/src/apis/review/index.js
  app/src/apis/review/review.ctrl.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Review/ReviewStorage.js
Labels: 서버, 기능 구현, API

#36 Refactor(jisu/review): #22
  app/src/apis/review/index.js
  app/src/apis/review/review.ctrl.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Review/ReviewStorage.js
Labels: 서버, 기능 구현, API

#37 [Review] 동아리 후기 API
  app/app.js
  app/src/apis/review/index.js
  app/src/apis/review/review.ctrl.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Review/ReviewStorage.js
Labels: 서버, 기능 구현, API

#38 [Circle-Home] 동아리 홈 API
  app/.eslintrc.json
  app/app.js
  app/bin/www.js
  app/package-lock.json
  app/package.json
  app/src/apis/CircleHome/home.ctrl.js
  app/src/apis/CircleHome/index.js
  app/src/apis/review/index.js
  app/src/apis/review/review.ctrl.js
  app/src/apis/test.js
  app/src/config/mariadb.js
  app/src/middlewares/test.js
  app/src/models/services/Auth/Auth.js
  app/src/models/services/Auth/AuthStorage.js
  app/src/models/services/CircleHome/home.js
  app/src/models/services/CircleHome/homeStorage.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Review/ReviewStorage.js
  app/src/models/services/test.js
  app/src/models/utils/Error.js
  app/src/models/utils/test.js
  app/src/public/js/test.js
Labels: 서버, 기능 구현, API

#44 [Signup] 회원가입 API
  app/.eslintrc.json
  app/app.js
  app/bin/www.js
  app/package-lock.json
  app/package.json
  app/src/apis/review/index.js
  app/src/apis/review/review.ctrl.js
  app/src/apis/sign-up/index.js
  app/src/apis/sign-up/sign-up.ctrl.js
  app/src/apis/test.js
  app/src/config/mariadb.js
  app/src/models/services/Auth/Auth.js
  app/src/models/services/Auth/AuthStorage.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Review/ReviewStorage.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
  app/src/models/services/test.js
  app/src/models/utils/Error.js
  app/src/models/utils/test.js
  app/src/public/js/test.js
Labels: 서버, 기능 구현, API

#45 [Signup] 회원가입 API
  app/app.js
  app/bin/www.js
  app/package-lock.json
  app/package.json
  app/src/apis/sign-up/index.js
  app/src/apis/sign-up/sign-up.ctrl.js
  app/src/apis/test.js
  app/src/config/mariadb.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
  app/src/models/services/test.js
  app/src/models/utils/Error.js
  app/src/models/utils/test.js
  app/src/public/js/test.js
Labels: 서버, 기능 구현, API

#47 [Circle-Home] 동아리 홈 API
  app/src/apis/CircleHome/home.ctrl.js
  app/src/models/services/CircleHome/home.js
  app/src/models/services/CircleHome/homeStorage.js
Labels: 서버, 기능 구현, API

#48 [Circle-Home] 동아리 홈 API
  app/.eslintrc.json
  app/app.js
  app/bin/www.js
  app/package-lock.json
  app/src/apis/CircleHome/home.ctrl.js
  app/src/apis/CircleHome/index.js
  app/src/middlewares/test.js
  app/src/models/services/CircleHome/home.js
  app/src/models/services/CircleHome/homeStorage.js
Labels: 서버, 기능 구현, API

#51 [Login] 로그인 API
  app/app.js
  app/package-lock.json
  app/src/apis/login/index.js
  app/src/apis/login/login.ctrl.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 서버, 기능 구현, API

#53 [FindId] 아이디(학번) 찾기 API
  app/app.js
  app/src/apis/find-id/find-id.ctrl.js
  app/src/apis/find-id/index.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 기능 구현, API, DB

#54 [FindId] 아이디(학번) 찾기 API
  app/app.js
  app/src/apis/circle-home/home.ctrl.js
  app/src/apis/circle-home/index.js
  app/src/apis/find-id/find-id.ctrl.js
  app/src/apis/find-id/index.js
  app/src/models/services/CircleHome/home.js
  app/src/models/services/CircleHome/homeStorage.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 기능 구현, API, DB

#58 [JWT] 로그인과 동아리 인증 기능 설계 및 구현
  app/.eslintrc.json
  app/app.js
  app/package-lock.json
  app/package.json
  app/src/apis/circle-home/home.ctrl.js
  app/src/apis/circle-home/index.js
  app/src/apis/find-id/find-id.ctrl.js
  app/src/apis/find-id/index.js
  app/src/apis/login/index.js
  app/src/apis/login/login.ctrl.js
  app/src/apis/review/index.js
  app/src/apis/review/review.ctrl.js
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/apis/sign-up/index.js
  app/src/apis/sign-up/sign-up.ctrl.js
  app/src/middlewares/club-auth.js
  app/src/middlewares/login-auth.js
  app/src/models/services/Auth/Auth.js
  app/src/models/services/CircleHome/home.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 서버, 기능 구현, API

#64 [Auth] 로그인과 동아리회원 인증 기능 구현
  app/.eslintrc.json
  app/app.js
  app/package-lock.json
  app/package.json
  app/src/apis/circle-home/home.ctrl.js
  app/src/apis/circle-home/index.js
  app/src/apis/find-id/find-id.ctrl.js
  app/src/apis/find-id/index.js
  app/src/apis/login/index.js
  app/src/apis/login/login.ctrl.js
  app/src/apis/review/index.js
  app/src/apis/review/review.ctrl.js
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/apis/sign-up/index.js
  app/src/apis/sign-up/sign-up.ctrl.js
  app/src/middlewares/club-auth.js
  app/src/middlewares/login-auth.js
  app/src/models/services/Auth/Auth.js
  app/src/models/services/CircleHome/home.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 서버, 기능 구현, API

#62 [Boards] 게시판 API 구현
  app/app.js
  app/src/apis/boards/board.ctrl.js
  app/src/apis/boards/index.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
  app/src/models/services/Category/board.js
  app/src/models/services/Image/Image.js
  app/src/models/services/Image/ImageStorage.js
Labels: 서버, 기능 구현, API

#67 [Schedule] 동아리 일정 API
  app/app.js
  app/src/apis/schedule/index.js
  app/src/apis/schedule/schedule.ctrl.js
  app/src/models/services/CircleHome/Home.js
  app/src/models/services/CircleHome/HomeStorage.js
  app/src/models/services/Schedule/Schedule.js
  app/src/models/services/Schedule/ScheduleStorage.js
Labels: 서버, 기능 구현, API

#70 [Schedule] 동아리 일정 API
  app/src/apis/schedule/index.js
Labels: 서버, 기능 구현, API

#71 [Schedule] 동아리 일정 API
  app/src/apis/schedule/index.js
Labels: 서버, 기능 구현, API

#69 [ResetPassword] 비밀번호 변경 API
  .gitignore
  app/.eslintrc.json
  app/app.js
  app/package-lock.json
  app/package.json
  app/src/apis/boards/board.ctrl.js
  app/src/apis/boards/index.js
  app/src/apis/circle-home/home.ctrl.js
  app/src/apis/circle-home/index.js
  app/src/apis/find-id/find-id.ctrl.js
  app/src/apis/find-id/index.js
  app/src/apis/login/index.js
  app/src/apis/login/login.ctrl.js
  app/src/apis/review/index.js
  app/src/apis/review/review.ctrl.js
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/apis/sign-up/index.js
  app/src/apis/sign-up/sign-up.ctrl.js
  app/src/config/email.js
  app/src/middlewares/club-auth.js
  app/src/middlewares/login-auth.js
  app/src/models/services/Auth/Auth.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
  app/src/models/services/Category/board.js
  app/src/models/services/CircleHome/home.js
  app/src/models/services/Image/Image.js
  app/src/models/services/Image/ImageStorage.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 기능 구현, API, DB

#72 [ResetPassword] 비밀번호 변경 API
  app/.eslintrc.json
  app/package-lock.json
  app/package.json
  app/src/apis/circle-home/home.ctrl.js
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 기능 구현, API, DB

#73 [clubList] 동아리목록 API
  app/.eslintrc.json
  app/app.js
  app/package-lock.json
  app/package.json
  app/src/apis/boards/board.ctrl.js
  app/src/apis/club-list/clubList.ctrl.js
  app/src/apis/club-list/index.js
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/apis/schedule/index.js
  app/src/models/services/ClubList/ClubStorage.js
  app/src/models/services/Image/ImageStorage.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 서버, 기능 구현, API

#74 [clubList] 동아리목록 API
  app/app.js
  app/src/apis/club/club.ctrl.js
  app/src/apis/club/index.js
  app/src/models/services/Club/ClubStorage.js
Labels: 서버, 기능 구현, API

#78 [boards] 게시판 전체조회 정렬기능 추가
  app/app.js
  app/package-lock.json
  app/package.json
  app/src/apis/boards/board.ctrl.js
  app/src/apis/boards/index.js
  app/src/apis/schedule/index.js
  app/src/apis/schedule/schedule.ctrl.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/CommentStorage.js
  app/src/models/services/CircleHome/Home.js
  app/src/models/services/CircleHome/HomeStorage.js
  app/src/models/services/Image/ImageStorage.js
  app/src/models/services/Schedule/Schedule.js
  app/src/models/services/Schedule/ScheduleStorage.js
Labels: 서버, 기능 구현, API

#79 [boards] 게시판 전체조회 정렬기능 추가
  app/src/apis/boards/board.ctrl.js
  app/src/apis/boards/index.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/CommentStorage.js
Labels: 서버, 기능 구현, API

#80 [boards] 홍보게시판 장르별 보기 API 구현
  app/src/apis/boards/board.ctrl.js
  app/src/apis/boards/index.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Category/board.js
  app/src/models/services/Image/Image.js
Labels: 버그, 서버, 기능 구현, API

#81 [Circle-Home] 동아리 홈 API
  app/.eslintrc.json
  app/app.js
  app/package-lock.json
  app/package.json
  app/src/apis/boards/board.ctrl.js
  app/src/apis/boards/index.js
  app/src/apis/circle-home/home.ctrl.js
  app/src/apis/circle-home/index.js
  app/src/apis/club/club.ctrl.js
  app/src/apis/club/index.js
  app/src/apis/find-id/find-id.ctrl.js
  app/src/apis/find-id/index.js
  app/src/apis/login/index.js
  app/src/apis/login/login.ctrl.js
  app/src/apis/review/index.js
  app/src/apis/review/review.ctrl.js
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/apis/schedule/index.js
  app/src/apis/schedule/schedule.ctrl.js
  app/src/apis/sign-up/sign-up.ctrl.js
  app/src/middlewares/club-auth.js
  app/src/middlewares/login-auth.js
  app/src/models/services/Auth/Auth.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
  app/src/models/services/Category/board.js
  app/src/models/services/CircleHome/Home.js
  app/src/models/services/CircleHome/HomeStorage.js
  app/src/models/services/Club/ClubStorage.js
  app/src/models/services/Image/Image.js
  app/src/models/services/Image/ImageStorage.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Schedule/Schedule.js
  app/src/models/services/Schedule/ScheduleStorage.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 서버, 기능 구현, API

#84 [applicationForm] 동아리 가입 질문 API
  app/app.js
  app/package-lock.json
  app/src/apis/application-form/application.ctrl.js
  app/src/apis/application-form/index.js
  app/src/apis/boards/board.ctrl.js
  app/src/apis/boards/index.js
  app/src/apis/club/club.ctrl.js
  app/src/apis/schedule/schedule.ctrl.js
  app/src/models/services/ApplicationForm/Application.js
  app/src/models/services/ApplicationForm/ApplicationStorage.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/CommentStorage.js
  app/src/models/services/Category/board.js
  app/src/models/services/Image/Image.js
Labels: 서버, 기능 구현, API

#82 [Circle-Home] 동아리 홈 API
  app/src/apis/circle-home/home.ctrl.js
  app/src/apis/circle-home/index.js
  app/src/apis/schedule/schedule.ctrl.js
  app/src/models/services/CircleHome/Home.js
  app/src/models/services/CircleHome/HomeStorage.js
Labels: 서버, 기능 구현, API

#85 [applicationForm] 동아리 가입 질문 API
  app/app.js
  app/package-lock.json
  app/src/apis/application-form/application.ctrl.js
  app/src/apis/application-form/index.js
  app/src/apis/club/club.ctrl.js
  app/src/models/services/ApplicationForm/Application.js
  app/src/models/services/ApplicationForm/ApplicationStorage.js
Labels: 서버, 기능 구현, API

#87 [Comments] 게시판 댓글 API
  app/src/apis/boards/comment.ctrl.js
  app/src/apis/boards/index.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
Labels: 서버, 기능 구현, API

#90 [Boards] 변수명 및 함수명 변경
  app/src/apis/boards/board.ctrl.js
  app/src/apis/boards/index.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Image/Image.js
Labels: 서버, 기획 및 설계, API

#92 [Reply comments] 대댓글 API 구현
  app/src/apis/boards/comment.ctrl.js
  app/src/apis/boards/index.js
  app/src/config/mariadb.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
Labels: 서버, 기능 구현, API

#93 [NotificationPassword] 비밀번호 이메일 전송 API
  .github/ISSUE_TEMPLATE/api--------.md
  .gitignore
  app/.eslintrc.json
  app/app.js
  app/package-lock.json
  app/package.json
  app/src/apis/boards/board.ctrl.js
  app/src/apis/boards/index.js
  app/src/apis/circle-home/home.ctrl.js
  app/src/apis/circle-home/index.js
  app/src/apis/club/club.ctrl.js
  app/src/apis/club/index.js
  app/src/apis/find-id/find-id.ctrl.js
  app/src/apis/find-id/index.js
  app/src/apis/login/index.js
  app/src/apis/login/login.ctrl.js
  app/src/apis/review/index.js
  app/src/apis/review/review.ctrl.js
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/apis/schedule/index.js
  app/src/apis/schedule/schedule.ctrl.js
  app/src/apis/sign-up/sign-up.ctrl.js
  app/src/middlewares/club-auth.js
  app/src/middlewares/login-auth.js
  app/src/middlewares/signUp-auth.js
  app/src/models/services/Auth/Auth.js
  app/src/models/services/Auth/EmailAuth/Auth.js
  app/src/models/services/Auth/EmailAuth/AuthStorage.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
  app/src/models/services/Category/board.js
  app/src/models/services/CircleHome/Home.js
  app/src/models/services/CircleHome/HomeStorage.js
  app/src/models/services/Club/ClubStorage.js
  app/src/models/services/Image/Image.js
  app/src/models/services/Image/ImageStorage.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Schedule/Schedule.js
  app/src/models/services/Schedule/ScheduleStorage.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 기능 구현, API, DB

#94 [Reply comments] 대댓글 API 구현
  app/src/apis/boards/comment.ctrl.js
  app/src/apis/boards/index.js
  app/src/config/mariadb.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
Labels: 버그, 서버, 기능 구현, API

#91 [applicationForm] 동아리 가입 답변 API
  app/app.js
  app/package-lock.json
  app/package.json
  app/src/apis/application-form/application.ctrl.js
  app/src/apis/application/application.ctrl.js
  app/src/apis/application/index.js
  app/src/apis/boards/board.ctrl.js
  app/src/apis/boards/comment.ctrl.js
  app/src/apis/boards/index.js
  app/src/config/mariadb.js
  app/src/models/services/Application/Application.js
  app/src/models/services/Application/ApplicationStorage.js
  app/src/models/services/ApplicationForm/Application.js
  app/src/models/services/ApplicationForm/ApplicationStorage.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
  app/src/models/services/Image/Image.js
Labels: 서버, 기능 구현, API

#99 [Boards] 게시판 API 부분 수정
  app/src/apis/boards/board.ctrl.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/CommentStorage.js
Labels: 버그, 서버, 기능 구현, API

#102 [Schedule] 동아리 일정 API
  app/.eslintrc.json
  app/app.js
  app/package-lock.json
  app/package.json
  app/src/apis/application-form/application.ctrl.js
  app/src/apis/application-form/index.js
  app/src/apis/boards/board.ctrl.js
  app/src/apis/boards/comment.ctrl.js
  app/src/apis/boards/index.js
  app/src/apis/circle-home/home.ctrl.js
  app/src/apis/circle-home/index.js
  app/src/apis/club/club.ctrl.js
  app/src/apis/club/index.js
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/apis/schedule/schedule.ctrl.js
  app/src/config/mariadb.js
  app/src/models/services/ApplicationForm/Application.js
  app/src/models/services/ApplicationForm/ApplicationStorage.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
  app/src/models/services/Category/board.js
  app/src/models/services/CircleHome/Home.js
  app/src/models/services/CircleHome/HomeStorage.js
  app/src/models/services/Club/ClubStorage.js
  app/src/models/services/Image/Image.js
  app/src/models/services/Image/ImageStorage.js
  app/src/models/services/Schedule/Schedule.js
  app/src/models/services/Schedule/ScheduleStorage.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 서버, 기능 구현, API

#95 [Admin option] 관리자 권한 API 기능 구현
  app/.eslintrc.json
  app/app.js
  app/package-lock.json
  app/package.json
  app/src/apis/admin-option/admin-option.ctrl.js
  app/src/apis/admin-option/index.js
  app/src/apis/application/application.ctrl.js
  app/src/apis/application/index.js
  app/src/apis/boards/board.ctrl.js
  app/src/apis/boards/index.js
  app/src/apis/circle-home/home.ctrl.js
  app/src/apis/circle-home/index.js
  app/src/apis/club/club.ctrl.js
  app/src/apis/club/index.js
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/apis/schedule/index.js
  app/src/apis/schedule/schedule.ctrl.js
  app/src/config/mariadb.js
  app/src/models/services/AdminOption/AdminOption.js
  app/src/models/services/AdminOption/AdminOptionStorage.js
  app/src/models/services/Application/Application.js
  app/src/models/services/Application/ApplicationStorage.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/CommentStorage.js
  app/src/models/services/Category/board.js
  app/src/models/services/CircleHome/Home.js
  app/src/models/services/CircleHome/HomeStorage.js
  app/src/models/services/Club/ClubStorage.js
  app/src/models/services/Image/Image.js
  app/src/models/services/Image/ImageStorage.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Review/ReviewStorage.js
  app/src/models/services/Schedule/Schedule.js
  app/src/models/services/Schedule/ScheduleStorage.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 서버, 기능 구현, API

#108 [NotificationPassword] 이메일 전송 (비밀번호 찾기) API
  app/package-lock.json
  app/package.json
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/config/mail.js
  app/src/middlewares/signUp-auth.js
  app/src/models/services/Auth/EmailAuth/Auth.js
  app/src/models/services/Auth/EmailAuth/AuthStorage.js
  app/src/models/services/Email/Email.js
  app/src/models/services/Student/Student.js
Labels: 기능 구현, API, DB

#109 [FindPassword] 비밀번호 찾기 API
  app/package-lock.json
  app/package.json
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/config/mail.js
  app/src/middlewares/signUp-auth.js
  app/src/models/services/Auth/EmailAuth/EmailAuth.js
  app/src/models/services/Auth/EmailAuth/EmailAuthStorage.js
  app/src/models/services/Email/Email.js
  app/src/models/services/Student/Student.js
Labels: 기능 구현, API, DB

#103 [Schedule] 동아리 일정 API
  app/src/apis/schedule/schedule.ctrl.js
  app/src/models/services/Schedule/Schedule.js
  app/src/models/services/Schedule/ScheduleStorage.js
Labels: 서버, 기능 구현, API

#111 [NotificationPassword] 이메일 전송 (비밀번호 찾기) API
  app/package-lock.json
  app/package.json
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/config/mail.js
  app/src/middlewares/signUp-auth.js
  app/src/models/services/Auth/EmailAuth/EmailAuth.js
  app/src/models/services/Auth/EmailAuth/EmailAuthStorage.js
  app/src/models/services/Email/Email.js
  app/src/models/services/Student/Student.js
Labels: 기능 구현, API, DB

#101 [Boards] 게시판 API 부분 수정
  app/src/apis/boards/index.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/CommentStorage.js
Labels: 버그, 서버, 기능 구현, API

#110 [Admin option] 동아리 관리 API 기능 구현
  app/.eslintrc.json
  app/app.js
  app/src/apis/admin-option/admin-option.ctrl.js
  app/src/apis/admin-option/index.js
  app/src/models/services/AdminOption/AdminOption.js
  app/src/models/services/AdminOption/AdminOptionStorage.js
  app/src/models/services/Application/Application.js
  app/src/models/services/Application/ApplicationStorage.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Review/ReviewStorage.js
Labels: 서버, 기능 구현, API

#114 [FindPassword] 비밀번호 찾기 API
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/models/services/Auth/EmailAuth/EmailAuth.js
  app/src/models/services/Student/Student.js
Labels: 기능 구현, API, DB

#118 Fix(seokho/boards): 쿼리문 버그 수정
  app/src/models/services/Board/BoardStorage.js
Labels: 버그

#119 [Boards]: 게시판 API 수정
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
Labels: 서버, 기능 구현, API

#120 [Boards]: 게시판 API 수정
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
Labels: 서버, 기능 구현, API

#122 [Search] 검색 API
  app/.eslintrc.json
  app/app.js
  app/src/apis/admin-option/admin-option.ctrl.js
  app/src/apis/admin-option/index.js
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/apis/search/index.js
  app/src/apis/search/search.ctrl.js
  app/src/models/services/AdminOption/AdminOption.js
  app/src/models/services/AdminOption/AdminOptionStorage.js
  app/src/models/services/Application/Application.js
  app/src/models/services/Application/ApplicationStorage.js
  app/src/models/services/Auth/EmailAuth/EmailAuth.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Review/ReviewStorage.js
  app/src/models/services/Student/Student.js
Labels: 기능 구현, API, DB

#123 [Search] 검색 API
  app/app.js
  app/src/apis/search/index.js
  app/src/apis/search/search.ctrl.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
Labels: 기능 구현, API, DB

#124 [identifyAuth] 회원 / 비회원 구별 middleware 구현
  app/src/apis/boards/index.js
  app/src/middlewares/identify-auth.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
Labels: 서버, 기능 구현

#125 [identifyAuth] 회원 / 비회원 구별 middleware 구현
  app/src/apis/boards/index.js
  app/src/middlewares/identify-auth.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
Labels: 서버, 기능 구현

#128 [clubBoard] 동아리 별 활동 내역 및 공지 게시판 API
  app/app.js
  app/package-lock.json
  app/package.json
  app/src/apis/boards/board.ctrl.js
  app/src/apis/club-board/index.js
  app/src/models/services/Board/Board.js
Labels: 서버, 기능 구현, API

#129 [Search] 검색 API
  app/src/apis/search/index.js
  app/src/apis/search/search.ctrl.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
Labels: 기능 구현, API, DB

#130 [Search] 검색 API
  app/src/apis/search/index.js
  app/src/apis/search/search.ctrl.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
Labels: 기능 구현, API, DB
