Repository modern-agile-team/dongurami-server, pull requests merged in 2021-10, with the labels that each got.

#133 [Circle-Home] 동아리 홈 API
  app/.eslintrc.json
  app/app.js
  app/package-lock.json
  app/package.json
  app/src/apis/admin-option/admin-option.ctrl.js
  app/src/apis/admin-option/index.js
  app/src/apis/application/application.ctrl.js
  app/src/apis/application/index.js
  app/src/apis/boards/board.ctrl.js
  app/src/apis/boards/comment.ctrl.js
  app/src/apis/boards/index.js
  app/src/apis/club/club.ctrl.js
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/apis/schedule/schedule.ctrl.js
  app/src/apis/search/index.js
  app/src/apis/search/search.ctrl.js
  app/src/config/mail.js
  app/src/config/mariadb.js
  app/src/middlewares/identify-auth.js
  app/src/middlewares/signUp-auth.js
  app/src/models/services/AdminOption/AdminOption.js
  app/src/models/services/AdminOption/AdminOptionStorage.js
  app/src/models/services/Application/Application.js
  app/src/models/services/Application/ApplicationStorage.js
  app/src/models/services/Auth/EmailAuth/EmailAuth.js
  app/src/models/services/Auth/EmailAuth/EmailAuthStorage.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
  app/src/models/services/CircleHome/Home.js
  app/src/models/services/CircleHome/HomeStorage.js
  app/src/models/services/Email/Email.js
  app/src/models/services/Image/Image.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Review/ReviewStorage.js
  app/src/models/services/Schedule/Schedule.js
  app/src/models/services/Schedule/ScheduleStorage.js
  app/src/models/services/Student/Student.js
Labels: 서버, 기능 구현, API

#131 [clubBoard] 동아리 별 활동 내역 및 공지 게시판 API
  app/src/models/services/Board/Board.js
Labels: 서버, 기능 구현, API

#138 [Circle-Home] 동아리 홈 API
  app/src/models/services/CircleHome/Home.js
  app/src/models/services/CircleHome/HomeStorage.js
Labels: 서버, 기능 구현, API

#132 [singUp] 회원가입 API
  app/src/apis/root/index.js
  app/src/models/services/Student/Student.js
Labels: 기능 구현, API, DB

#136 [ResetPassword] 비밀번호 변경 API
  app/src/apis/root/index.js
  app/src/models/services/Student/Student.js
Labels: 기능 구현, API, DB

#135 [Profile]: 프로필 조회 및 수정 API
  app/app.js
  app/src/apis/profile/index.js
  app/src/apis/profile/profile.ctrl.js
  app/src/models/services/Profile/Profile.js
  app/src/models/services/Profile/ProfileStorage.js
Labels: 서버, 기능 구현, API

#141 [clubBoard] 동아리 별 활동 내역 및 공지 게시판 API
  app/src/models/services/Board/Board.js
Labels: 서버, 기능 구현, API

#139 [Notification] 알림 API 기능 구현
  app/app.js
  app/src/apis/notification/index.js
  app/src/apis/notification/notification.ctrl.js
  app/src/apis/review/index.js
  app/src/apis/review/review.ctrl.js
  app/src/apis/schedule/index.js
  app/src/apis/schedule/schedule.ctrl.js
  app/src/models/services/AdminOption/AdminOption.js
  app/src/models/services/AdminOption/AdminOptionStorage.js
  app/src/models/services/Application/Application.js
  app/src/models/services/Application/ApplicationStorage.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Notification/Notification.js
  app/src/models/services/Notification/NotificationStorage.js
  app/src/models/services/Review/ReviewStorage.js
  app/src/models/services/Schedule/Schedule.js
  app/src/models/services/Schedule/ScheduleStorage.js
Labels: 서버, 기능 구현, API

#143 [singUp] 회원가입 API
  app/src/apis/root/index.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 기능 구현, API, DB

#145 [Profile]: 프로필 조회 및 수정 API
  app/app.js
  app/src/apis/profile/index.js
  app/src/apis/profile/profile.ctrl.js
  app/src/models/services/Profile/Profile.js
  app/src/models/services/Profile/ProfileStorage.js
Labels: 서버, 기능 구현, API

#144 [ResetPassword] 비밀번호 변경 API
  app/src/models/services/Student/Student.js
Labels: 기능 구현, API, DB

#149 [Search] 검색 API
  app/src/apis/search/index.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
Labels: 기능 구현, API, DB

#150 [Search] 검색 API
  app/src/apis/search/index.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
Labels: 기능 구현, API, DB

#151 [myPage] 마이페이지 활동내역 스크랩 API
  app/app.js
  app/package-lock.json
  app/package.json
  app/src/apis/boards/board.ctrl.js
  app/src/apis/club-board/index.js
  app/src/apis/my-page/index.js
  app/src/apis/my-page/my-page.ctrl.js
  app/src/apis/notification/index.js
  app/src/apis/notification/notification.ctrl.js
  app/src/apis/profile/index.js
  app/src/apis/profile/profile.ctrl.js
  app/src/apis/review/index.js
  app/src/apis/review/review.ctrl.js
  app/src/apis/root/index.js
  app/src/apis/schedule/index.js
  app/src/apis/schedule/schedule.ctrl.js
  app/src/apis/search/index.js
  app/src/apis/search/search.ctrl.js
  app/src/middlewares/identify-auth.js
  app/src/models/services/AdminOption/AdminOption.js
  app/src/models/services/AdminOption/AdminOptionStorage.js
  app/src/models/services/Application/Application.js
  app/src/models/services/Application/ApplicationStorage.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/CircleHome/Home.js
  app/src/models/services/CircleHome/HomeStorage.js
  app/src/models/services/MyPage/MyPage.js
  app/src/models/services/MyPage/MyPageStorage.js
  app/src/models/services/Notification/Notification.js
  app/src/models/services/Notification/NotificationStorage.js
  app/src/models/services/Profile/Profile.js
  app/src/models/services/Profile/ProfileStorage.js
  app/src/models/services/Review/ReviewStorage.js
  app/src/models/services/Schedule/Schedule.js
  app/src/models/services/Schedule/ScheduleStorage.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 서버, 기능 구현, API

#152 [myPage] 마이페이지 활동내역 스크랩 API
  app/app.js
  app/src/apis/club-board/index.js
  app/src/apis/my-page/index.js
  app/src/apis/my-page/my-page.ctrl.js
  app/src/models/services/MyPage/MyPage.js
  app/src/models/services/MyPage/MyPageStorage.js
Labels: 서버, 기능 구현, API

#157 [Search] 검색 API
  app/src/apis/search/index.js
  app/src/models/services/Board/Board.js
Labels: 기능 구현, API, DB

#160 [circle-home] 동아리 홈 API
  app/src/models/services/CircleHome/HomeStorage.js
Labels: 서버, 기능 구현, API

#159 [docker] 도커 테스트
  .dockerignore
  Dockerfile
  docker-compose.yml
Labels: 서버, 배포, 기능 구현

#162 [Boards]: 게시판 전제조회 홍보게시판 전체조회 query string으로 변경
  app/src/apis/boards/index.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
Labels: 서버, 기능 구현, API

#163 [Boards]: 게시판 전제조회 홍보게시판 전체조회 query string으로 변경
  app/src/apis/boards/index.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
Labels: 서버, 기능 구현, API

#165 [Profile]: 프로필 조회시 본인 프로필이 아닐때 응답바디 제한
  app/src/models/services/Profile/Profile.js
Labels: 서버, 기능 구현, API

#169 [application-form] 가입 신청 질문, 답변 API
  app/src/apis/admin-option/admin-option.ctrl.js
  app/src/apis/admin-option/index.js
  app/src/models/services/AdminOption/AdminOption.js
  app/src/models/services/AdminOption/AdminOptionStorage.js
  app/src/models/services/Application/Application.js
  app/src/models/services/Application/ApplicationStorage.js
  app/src/models/services/Notification/Notification.js
  app/src/models/services/Schedule/Schedule.js
Labels: 서버, 기능 구현, API

#167 [Search] 검색 API
  app/src/apis/admin-option/admin-option.ctrl.js
  app/src/apis/admin-option/index.js
  app/src/models/services/AdminOption/AdminOption.js
  app/src/models/services/AdminOption/AdminOptionStorage.js
  app/src/models/services/Application/ApplicationStorage.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Notification/Notification.js
  app/src/models/services/Schedule/Schedule.js
Labels: 기능 구현, API, DB

#177 [myPage] 마이페이지 활동내역 스크랩 API
  app/src/models/services/MyPage/MyPageStorage.js
Labels: 서버, 기능 구현, API

#178 [myPage] 마이페이지 활동내역 스크랩 API
  app/src/models/services/MyPage/MyPageStorage.js
Labels: 서버, 기능 구현, API

#181 [myPage] 마이페이지 활동내역 스크랩 API
  app/src/models/services/MyPage/MyPageStorage.js
Labels: 서버, 기능 구현, API

#190 [S3] s3 pre-signed-url 생성 API
  app/app.js
  app/package-lock.json
  app/package.json
  app/src/apis/s3/index.js
  app/src/apis/s3/s3.ctrl.js
  app/src/models/services/S3PreSignedUrl/S3PreSignedUrl.js
Labels: 서버, 기능 구현, API

#192 [FindPassword] 비밀번호 찾기 API
  app/src/apis/root/root.ctrl.js
  app/src/models/services/Auth/EmailAuth/EmailAuth.js
  app/src/models/services/Student/Student.js
Labels: 기능 구현, API, DB

#186 [Notification] 댓글, 대댓글 알림 API 수정
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
  app/src/models/services/Notification/Notification.js
Labels: 서버, 기능 구현, API

#194 [Review] 동아리 후기 API 수정
  app/src/models/services/Application/ApplicationStorage.js
Labels: 서버, API, DB

#198 [Notification] 알림 기능 API 수정
  app/src/models/services/Application/Application.js
  app/src/models/services/Application/ApplicationStorage.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Notification/NotificationStorage.js
  app/src/models/services/Schedule/Schedule.js
Labels: 서버, 기능 구현, API

#199 [admin-option] 동아리 가입 신청 API 수정
  app/src/models/services/Application/ApplicationStorage.js
Labels: 서버, 기능 구현, API

#203 [clubBoard] 동아리 별 활동 내역 및 공지 게시판 API
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Image/Image.js
  app/src/models/services/Image/ImageStorage.js
Labels: 서버, 기능 구현, API

#204 [clubBoard] 동아리 별 활동 내역 및 공지 게시판 API
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Image/Image.js
  app/src/models/services/Image/ImageStorage.js
Labels: 서버, 기능 구현, API

#206 [Logger] 로그 관리
  app/app.js
  app/bin/www.js
  app/package-lock.json
  app/package.json
  app/src/apis/root/root.ctrl.js
  app/src/config/logger.js
  app/src/middlewares/login-auth.js
Labels: 기능 구현, API, DB

#211 [Review] 동아리 후기 API 리팩토링과 로깅 적용
  app/src/apis/review/index.js
  app/src/apis/review/review.ctrl.js
  app/src/models/services/AdminOption/AdminOption.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Review/ReviewStorage.js
Labels: 서버, 기능 구현, API

#214 [boards] 홍보게시판 전체조회 8씩 응답하게 수정
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
Labels: 서버, 기능 구현, API

#220 [clubBoard] 동아리 별 활동 내역 및 공지 게시판 API Refactor/logger
  app/src/apis/boards/board.ctrl.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
Labels: 서버, 기능 구현, API

#221 [student] 로그인 회원 정보 조회 API
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/models/services/Student/Student.js
Labels: 서버, 기능 구현, API

#223 Refactor(changhoon/login) : login 로그관리와 코드 리팩토링
  app/src/models/services/Student/Student.js
Labels: 기능 구현, API, DB

#229 [Sign up] sign-up 로그관리와 코드 리팩토링
  app/src/middlewares/signUp-auth.js
  app/src/models/services/Student/Student.js
Labels: 기능 구현, API, DB

#230 [Sign up] sign-up 로그관리와 코드 리팩토링
  app/src/middlewares/signUp-auth.js
  app/src/models/services/Student/Student.js
Labels: 기능 구현, API, DB

#232 Refactor(changhoon/find-id) : find-id 로그관리와 코드 리팩터링
  app/src/apis/root/root.ctrl.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 기능 구현, API, DB

#235 [applicationForm] 동아리 가입 질문, 답변 API Refactor/logger
  app/src/apis/application/application.ctrl.js
  app/src/apis/application/index.js
  app/src/models/services/Application/Application.js
Labels: 서버, 기능 구현, API

#237 [Auth] 로그인 인증 기능 로깅 적용과 리팩토링
  app/src/apis/notification/notification.ctrl.js
  app/src/middlewares/club-auth.js
  app/src/middlewares/login-auth.js
  app/src/models/services/Auth/Auth.js
Labels: 서버, 기획 및 설계, API

#246 Refactor(changhoon/forgot-password) : forgot-password 로그관리와 코드 리팩터링
  app/src/models/services/Auth/EmailAuth/EmailAuth.js
  app/src/models/services/Email/Email.js
  app/src/models/services/Student/Student.js
Labels: 서버, 기능 구현, API, DB

#247 [myPage] 마이페이지 활동내역 스크랩 API Refactor/logger
  app/src/apis/my-page/my-page.ctrl.js
  app/src/models/services/MyPage/MyPage.js
  app/src/models/services/MyPage/MyPageStorage.js
Labels: 서버, 기능 구현, API

#249 Refactor(changhoon/search) : search 로그관리와 코드 리팩터링
  app/src/apis/search/index.js
  app/src/apis/search/search.ctrl.js
Labels: 서버, 기능 구현, API, DB

#251 [Boards]: 게시판 로그 추가 및 코드 리펙토링
  app/src/apis/boards/board.ctrl.js
  app/src/models/services/Board/Board.js
Labels: 서버, 기능 구현, API

#260 [Auth] 로그인 검증 API 수정
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/models/services/Student/Student.js
Labels: 서버, 기획 및 설계, API

#261 [clubBoard] 동아리 별 활동 내역 및 공지 게시판 API Refactoring/logger
  app/src/apis/boards/board.ctrl.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Image/Image.js
Labels: 서버, 기능 구현, API

#262 [clubBoard] 동아리 별 활동 내역 및 공지 게시판 API Refactoring/logger
  app/src/apis/boards/board.ctrl.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Image/Image.js
Labels: 서버, 기능 구현, API
