Repository modern-agile-team/dongurami-server, pull requests merged in 2022-01, with the labels that each got.

#432 [Search] 검색 API 리팩토링
  app/src/apis/search/index.js
  app/src/apis/search/search.ctrl.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Club/Club.js
  app/src/models/services/Club/ClubStorage.js
  app/src/models/services/Search/Search.js
  app/src/models/utils/Error.js
Labels: 서버, API, DB

#436 [Emotion]: 감정표현 API 리펙토링
  app/app.js
  app/src/apis/emotion/emotion.ctrl.js
  app/src/apis/emotion/index.js
  app/src/apis/emotions/emotion.ctrl.js
  app/src/models/services/Emotion/Emotion.js
  app/src/models/services/Emotion/EmotionStorage.js
  app/src/models/services/Emotion/utils.js
  app/src/models/utils/Error.js
  app/src/models/utils/getApiInfo.js
  app/src/models/utils/processCtrl.js
Labels: API

#437 Emotion
  app/app.js
  app/src/apis/emotion/emotion.ctrl.js
  app/src/apis/emotion/index.js
  app/src/apis/emotions/emotion.ctrl.js
  app/src/models/services/Emotion/Emotion.js
  app/src/models/services/Emotion/EmotionStorage.js
  app/src/models/services/Emotion/utils.js
  app/src/models/utils/Error.js
  app/src/models/utils/getApiInfo.js
  app/src/models/utils/processCtrl.js
Labels: API

#431 [circle-home] 동아리 홈 API 리팩토링
  app/app.js
  app/src/apis/home/home.ctrl.js
  app/src/apis/home/index.js
  app/src/models/services/CircleHome/Home.js
  app/src/models/services/CircleHome/HomeStorage.js
  app/src/models/services/Home/Home.js
  app/src/models/services/Home/HomeStorage.js
  app/src/models/services/Letter/Letter.js
  app/src/models/utils/Error.js
Labels: 서버, 기능 구현, API

#435 [Search] 검색 API 리팩토링
  app/src/apis/search/index.js
  app/src/apis/search/search.ctrl.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Club/Club.js
  app/src/models/services/Club/ClubStorage.js
  app/src/models/services/Search/Search.js
Labels: 서버, API, DB

#441 [circle-home] 동아리 홈 API 리팩토링
  app/src/apis/home/home.ctrl.js
  app/src/models/services/Home/Home.js
Labels: 서버, 기능 구현, API

#443 [circle-home] 동아리 홈 API 리팩토링
  app/src/apis/home/home.ctrl.js
  app/src/models/services/Home/Home.js
Labels: 서버, 기능 구현, API

#444 [Login] 로그인 API 리팩토링
  app/src/apis/root/root.ctrl.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 서버, API, DB

#445 [Emotion]: 감정표현 API 리펙토링
  app/src/models/services/Emotion/Emotion.js
  app/src/models/services/Emotion/EmotionStorage.js
Labels: API

#449 [Emotion]: 감정표현 API 리펙토링
  app/src/models/services/Emotion/Emotion.js
  app/src/models/services/Emotion/EmotionStorage.js
Labels: API

#448 [schedule] 동아리 일정 API 리팩토링
  app/src/apis/schedule/index.js
  app/src/apis/schedule/schedule.ctrl.js
  app/src/models/services/Schedule/Schedule.js
  app/src/models/services/Schedule/ScheduleStorage.js
Labels: 서버, 기능 구현, API

#447 [Login] 로그인 API 리팩토링
  app/src/apis/root/root.ctrl.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 서버, API, DB

#450 [schedule] 동아리 일정 API 리팩토링
  app/src/apis/schedule/index.js
  app/src/apis/schedule/schedule.ctrl.js
  app/src/models/services/Schedule/Schedule.js
  app/src/models/services/Schedule/ScheduleStorage.js
Labels: 서버, 기능 구현, API

#451 [Notification] 알림 API 생성
  app/.eslintrc.json
  app/src/apis/admin-option/admin-option.ctrl.js
  app/src/apis/notification/index.js
  app/src/apis/notification/notification.ctrl.js
  app/src/models/services/AdminOption/AdminOption.js
  app/src/models/services/Application/Application.js
  app/src/models/services/Application/ApplicationStorage.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
  app/src/models/services/MyPage/MyPage.js
  app/src/models/services/Notification/Notification.js
  app/src/models/services/Notification/NotificationStorage.js
Labels: 서버, 기능 구현, API

#454 [Notification] 알림 API 400번대 에러 핸들링과 동아리 가입에 대한 API 추가
  app/src/apis/notification/index.js
  app/src/apis/notification/notification.ctrl.js
  app/src/models/services/Application/Application.js
  app/src/models/services/Notification/Notification.js
Labels: 서버, 기능 구현, API

#455 Refactor(jisu/notification): 실패 메세지 수정 #440
  app/src/models/services/Notification/Notification.js
Labels: 서버, 기능 구현, API

#456 [Notification] 알림 API 생성
  app/.eslintrc.json
  app/src/apis/admin-option/admin-option.ctrl.js
  app/src/apis/notification/index.js
  app/src/apis/notification/notification.ctrl.js
  app/src/models/services/AdminOption/AdminOption.js
  app/src/models/services/Application/Application.js
  app/src/models/services/Application/ApplicationStorage.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
  app/src/models/services/MyPage/MyPage.js
  app/src/models/services/Notification/Notification.js
  app/src/models/services/Notification/NotificationStorage.js
Labels: 서버, 기능 구현, API

#459 [applicationForm] 동아리 가입 신청 질문 API 리팩토링
  app/src/apis/application/application.ctrl.js
  app/src/apis/application/index.js
  app/src/models/services/Application/Application.js
  app/src/models/services/Application/ApplicationStorage.js
  app/src/models/services/Notification/Notification.js
Labels: 서버, 기능 구현, API

#460 [circleHome] 동아리 홈 API 리팩토링
  app/src/apis/home/index.js
  app/src/models/services/Home/HomeStorage.js
Labels: 서버, 기능 구현, API

#461 [SignUp] 회원가입 API 리팩터링
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/middlewares/signUp-auth.js
  app/src/models/services/Student/SignUpCheck.js
  app/src/models/services/Student/Student.js
Labels: 서버, API, DB

#458 [Profile]: 프로필 API 리펙토링
  app/src/apis/profile/profile.ctrl.js
  app/src/models/services/Profile/Profile.js
  app/src/models/services/Profile/ProfileStorage.js
  app/src/models/services/Profile/utils.js
Labels: API

#465 [Profile]: 프로필 API 리펙토링
  app/src/apis/profile/profile.ctrl.js
  app/src/models/services/Profile/Profile.js
  app/src/models/services/Profile/ProfileStorage.js
  app/src/models/services/Profile/utils.js
Labels: API

#467 [FindId] 아이디 찾기 API 리팩터링
  app/src/apis/root/root.ctrl.js
  app/src/models/services/Student/Student.js
Labels: 서버, API, DB

#464 [circleHome] 동아리 홈 API 리팩토링
  app/src/apis/home/index.js
  app/src/models/services/Home/HomeStorage.js
Labels: 서버, 기능 구현, API

#468 [Login] 로그인 API 리팩토링
  app/src/apis/root/root.ctrl.js
  app/src/models/services/Student/Student.js
Labels: 서버, API, DB

#462 [SignUp] 회원가입 API 리팩터링
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/middlewares/signUp-auth.js
  app/src/models/services/Student/SignUpCheck.js
  app/src/models/services/Student/Student.js
Labels: 서버, API, DB

#470 [FindId] 아이디 찾기 API 리팩터링
  app/src/apis/root/root.ctrl.js
  app/src/models/services/Student/Student.js
Labels: 서버, API, DB

#471 [Login] 로그인 API 리팩토링
  app/src/models/services/Student/Student.js
Labels: 서버, API, DB

#476 [S3]: S3 API 리펙토링
  app/src/apis/s3/s3.ctrl.js
  app/src/models/services/S3/S3.js
  app/src/models/utils/getRequestMissKey.js
  app/src/models/utils/makeResponse.js
Labels: API

#479 [S3]: S3 API 리펙토링
  app/src/apis/s3/s3.ctrl.js
  app/src/models/services/S3/S3.js
  app/src/models/utils/getRequestMissKey.js
  app/src/models/utils/getRequestNullKey.js
  app/src/models/utils/makeResponse.js
Labels: API

#478 [Email] 비밀번호 이메일 전송 API 리팩터링
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/middlewares/signUp-auth.js
  app/src/models/services/Auth/EmailAuth/EmailAuth.js
  app/src/models/services/Email/Email.js
  app/src/models/services/Student/SignUpCheck.js
  app/src/models/services/Student/Student.js
Labels: 서버, API, DB

#481 [Api auth]: api-auth middleware 리펙토링
  app/src/middlewares/api-auth.js
Labels: API

#483 [Api auth]: api-auth middleware 리펙토링
  app/src/middlewares/api-auth.js
Labels: API

#486 [Identify-auth]: Identify-auth middleWare 리펙토링
  app/src/middlewares/identify-auth.js
Labels: API

#482 [Email] 비밀번호 이메일 전송 API 리팩터링
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/models/services/Auth/EmailAuth/EmailAuth.js
  app/src/models/services/Email/Email.js
  app/src/models/services/Student/Student.js
Labels: 서버, API, DB

#487 [Identify-auth]: Identify-auth middleWare 리펙토링
  app/src/middlewares/identify-auth.js
Labels: API

#469 [applicationForm] 동아리 가입 신청 답변 API 리팩토링
  app/src/apis/application/application.ctrl.js
  app/src/models/services/Application/Application.js
  app/src/models/services/Application/ApplicationStorage.js
  app/src/models/services/Application/ApplicationUtils.js
Labels: 서버, 기능 구현, API

#488 [applicationForm] 동아리 가입 신청 질문, 답변 API 리팩토링
  app/src/apis/application/application.ctrl.js
  app/src/apis/application/index.js
  app/src/models/services/Application/Application.js
  app/src/models/services/Application/ApplicationStorage.js
  app/src/models/services/Application/ApplicationUtils.js
Labels: 서버, 기능 구현, API

#489 [ChangePassword] 비밀번호 변경 API 리팩터링
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 서버, API, DB

#490 [ChangePassword] 비밀번호 변경 API 리팩터링
  app/src/apis/root/index.js
  app/src/apis/root/root.ctrl.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/StudentStorage.js
Labels: 서버, API, DB

#494 [RootUtil] root 디렉토리 관련 util 생성
  app/src/models/services/Email/Email.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/Util.js
Labels: 서버

#495 [RootUtil] root 디렉토리 관련 util 생성
  app/src/models/services/Email/Email.js
  app/src/models/services/Student/Student.js
  app/src/models/services/Student/Util.js
Labels: 서버

#475 [Admin option] 동아리 관리자 API 리팩터링
  app/src/models/services/AdminOption/AdminOptionStorage.js
Labels: 서버, 기능 구현, API

#497 [Admin option] 관리자 API 리팩터링
  app/package-lock.json
  app/src/apis/admin-option/admin-option.ctrl.js
  app/src/apis/admin-option/index.js
  app/src/models/services/AdminOption/AdminOption.js
  app/src/models/services/AdminOption/AdminOptionStorage.js
  app/src/models/utils/processCtrl.js
Labels: 서버, 기능 구현, API

#499 [Letter] 쪽지 API 리팩토링
  app/src/apis/letter/index.js
  app/src/apis/letter/letter.ctrl.js
  app/src/models/services/Letter/Letter.js
  app/src/models/services/Letter/LetterStorage.js
  app/src/models/services/Letter/LetterUtils.js
Labels: 서버, 기능 구현, API

#502 [Review] 동아리 후기 API 리팩터링
  app/src/apis/admin-option/admin-option.ctrl.js
  app/src/apis/notification/notification.ctrl.js
  app/src/apis/review/review.ctrl.js
  app/src/models/services/Notification/Notification.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Review/ReviewStorage.js
  app/src/models/utils/WriterCheck.js
Labels: 서버, 기능 구현, API

#501 [clubList] 동아리 목록 API 리팩토링
  app/app.js
  app/src/apis/club-list/club.ctrl.js
  app/src/apis/club-list/index.js
  app/src/apis/club/club.ctrl.js
  app/src/models/services/Club/ClubStorage.js
  app/src/models/services/ClubList/ClubListStorage.js
  app/src/models/services/Search/Search.js
Labels: 서버, 기능 구현, API

#505 [clubList] 동아리 목록 API 리팩토링
  app/app.js
  app/src/apis/club-list/club.ctrl.js
  app/src/apis/club-list/index.js
  app/src/apis/club/club.ctrl.js
  app/src/models/services/Club/ClubStorage.js
  app/src/models/services/ClubList/ClubListStorage.js
  app/src/models/services/Search/Search.js
Labels: 서버, 기능 구현, API

#503 [Letter] 쪽지 API 리팩토링
  app/src/apis/letter/index.js
  app/src/apis/letter/letter.ctrl.js
  app/src/models/services/Letter/Letter.js
  app/src/models/services/Letter/LetterStorage.js
  app/src/models/services/Letter/LetterUtils.js
Labels: 서버, 기능 구현, API

#504 [Review] 동아리 후기 API 리팩터링
  app/src/apis/admin-option/admin-option.ctrl.js
  app/src/apis/notification/notification.ctrl.js
  app/src/apis/review/review.ctrl.js
  app/src/models/services/AdminOption/AdminOption.js
  app/src/models/services/Notification/Notification.js
  app/src/models/services/Review/Review.js
  app/src/models/services/Review/ReviewStorage.js
  app/src/models/utils/WriterCheck.js
Labels: 서버, 기능 구현, API

#507 [myPage] 마이페이지 API 리팩토링
  app/src/apis/my-page/index.js
  app/src/apis/my-page/my-page.ctrl.js
  app/src/models/services/MyPage/MyPage.js
  app/src/models/services/MyPage/MyPageStorage.js
  app/src/models/services/MyPage/MyPageUtils.js
Labels: 서버, 기능 구현, API

#506 [Board]: 게시판 관련 API 리펙토링
  app/app.js
  app/src/apis/board/board.ctrl.js
  app/src/apis/board/index.js
  app/src/apis/boards/board.ctrl.js
  app/src/apis/boards/comment.ctrl.js
  app/src/apis/club-board/index.js
  app/src/apis/comment/comment.ctrl.js
  app/src/apis/comment/index.js
  app/src/apis/image/image.ctrl.js
  app/src/apis/image/index.js
  app/src/apis/my-page/index.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Board/BoardStorage.js
  app/src/models/services/Board/Comment/Comment.js
  app/src/models/services/Board/Comment/CommentStorage.js
  app/src/models/services/Board/Utils.js
  app/src/models/services/Comment/Comment.js
  app/src/models/services/Comment/CommentStorage.js
  app/src/models/services/Image/Image.js
  app/src/models/services/Image/ImageStorage.js
  app/src/models/services/Image/Util.js
Labels: API

#512 [Board]: 게시판 관련 API 리펙토링
  app/src/models/services/Board/Board.js
  app/src/models/services/Comment/Comment.js
  app/src/models/services/Image/Image.js
Labels: API

#515 [clubBoard] 동아리별 게시판 API 리팩토링
  app/src/apis/club-board/index.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Image/Image.js
Labels: 서버, 기능 구현, API

#516 [clubBoard] 동아리별 게시판 API 리팩토링
  app/src/apis/club-board/index.js
  app/src/models/services/Board/Board.js
  app/src/models/services/Image/Image.js
Labels: 서버, 기능 구현, API
